.meja {
  text-align: center;
  border: 1px solid #cccccc;
  height: 100px;
  margin-bottom: 25px;
}
.meja .meja-desc {
  margin-top: 25px;
}
.meja .meja-desc .meja-title {
  font-size: 20px;
  font-weight: bold;
}
