.menu {
    text-align: center;
    border: 1px solid rgb(204, 204, 204);
    margin-bottom: 25px;

    img {
        width:100%;
    }

    .menu-desc {
        margin:10px;

        .menu-title {
            font-size:20px;
            font-weight: bold;
        }
    }
}