.sembunyi {
  display: none;
}
.menu-container {
  border-bottom: 1px #ddd solid;
}
@media (min-width: 992px) {
  .menu-container.bottom {
    border-bottom: none;
  }
}
@media (min-width: 992px) {
  .menu-container:nth-child(odd) {
    border-right: 1px solid #ddd;
  }
}
.menu-container:hover {
  background: #f1f1f1;
}
.menu-container .menu {
  padding: 15px 0;
}
.menu-container .menu img {
  height: 100px;
}
.menu-container .menu .menu-desc {
  margin: 10px;
  width: 10000px;
}
.menu-container .menu .menu-desc .menu-title {
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;
}
.menu-container .menu .menu-order {
  padding-top: 30px;
}
.menu-container .menu .menu-order input {
  width: 60px;
  padding: 5px;
}
